<!DOCTYPE html>
<html lang="en">
  <!-- home.ejs -->

  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>TokiDex</title>
  </head>

  <body>
    <div class = "backgroundLayer">
    <H1>TokiDex</H1>
    <div id = "innerLayer">

<table>
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Top Types</th>
            <th>TokiDex Entry</th>
         </tr>

          <tr>
            <td>1</td> 
            <td>Charmander</td>
            <td>
                <img src="/static/fire.jpg" alt="" border=1 height=50 width=50></img>

            </td>
            <td>          
                <p>View TokiDex Entry? <a href="page2.html">page 2</a> ?</p>     
            </td>
          </tr>

          <tr>
            <td>1</td>
            <td>Pikachu</td>
            <td>

                <img src="/static/electric.jpg" alt="" border=1 height=50 width=50></img>
                <img src="/static/fighting.jpg" alt="" border=1 height=50 width=50></img>
            </td>
            <td>          
                <p>View TokiDex Entry?  <a href="page2.html">page 2</a> ?</p>        
            </td>
          </tr>

          <tr>
            <td>3</td>
            <td>Mew</td>
            <td>
                <img src="/static/flying.jpg" alt="" border=1 height=50 width=50></img>
                <img src="/static/frozen.jpg" alt="" border=1 height=50 width=50></img>
            </td>
            <td>          
                <p>View TokiDex Entry? <a href="page2.html">page 2</a> ?</p>  
            </td>
          </tr>

          <tr>
            <td>4</td>
            <td>Other</td>
            <td>
                <img src="/static/water.jpg" alt="" border=1 height=50 width=50></img>
                <img src="/static/flying.jpg" alt="" border=1 height=50 width=50></img>
            </td>
            <td>          
                <p>View TokiDex Entry?  <a href="page2.html">page 2</a> ?</p>           
            </td>
          </tr>
        </table>

        <br></br>

        <button type="button" onclick="alert('Gotta catch em all')">Caught One!</button>



    </div> <!-- innerlayer div -->
    </div> <!-- backgroundlayer div -->
  </body>


</html>
