<html>
	<head>
   		<title>TokiDex</title>
		<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous">
		</script>
		<link href= "/css/style.css" rel ="stylesheet" type ="text/css" />
		<script src="/assets/todo-list.js"></script>

	</head>

<body>
	<div class = "backgroundLayer">
    <H1>TokiDex</H1>
    <div id = "innerLayer">

	<h1> add a tokimon </h1>

	<div id="tokimon-table">
		<form>
			<input type="text" name = "name" placeholder= "add new tokimon..." required />
			<button type="submit"> Catch a tokimon</button>
		</form>	

		<form id="myForm">
		  Flying (between 1 and 5):
		  <input type="number" name="quantity" min="1" max="5" placeholder="0">
		  <button type="submit"> add a stat</button>
		</form>




		<form>
		  Fighting (between 1 and 5):
		  <input type="number" name="quantity" min="1" max="5" placeholder="0">
		</form>

		<form>
		  Fire (between 1 and 5):
		  <input type="number" name="quantity" min="1" max="5" placeholder="0">
		</form>

		<form>
		  Water (between 1 and 5):
		  <input type="number" name="quantity" min="1" max="5" placeholder="0">
		</form>

		<form>
		  Electric (between 1 and 5):
		  <input type="number" name="quantity" min="1" max="5" placeholder="0">
		</form>

		<form>
		  Frozen (between 1 and 5):
		  <input type="number" name="quantity" min="1" max="5" placeholder="0">
		</form>

		<br></br>
		<h2> Click to delete</h2>
		<ul>
			<%for(i=0; i < tokimon.length; i++){%>
				<li><%=tokimon[i].name%></li>
			<%}%>
		<ul>
		<br></br>
		<ul>
			<%for(i=0; i < tokimon.length; i++){%>
				<li><%=tokimon[i].flying%></li>
			<%}%>
		<ul>

	</div>
	</div>

</body>


</html>

